* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	background-position: center;
	background-size: cover;
	background-color: transparent;
	border: none;
	outline: none;
}

img {
	width: 100%;
	display: block;
}

a {
	color: #fff;
}

button {
	color: #fff;
}

/* akhir reset */

html,
body {
  display: grid;
	color: #fff;
	scroll-behavior: smooth;
	font-family: "poppinsMedium";
	overflow-x: hidden;
	background-color: rgb(22, 33, 62);
}

.container {
	display: grid;
	row-gap: 100px;
	padding: 0 10px;
	position: relative;
}


/* wrapper_container */
.wrapper_container {
	display: grid;
	justify-items: center;
	row-gap: 30px;
	padding-top: 5em;
}

/* akhir wrapper_container */

p.eng {
	display: none;
}

/* nav */
nav {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	padding: 10px 0;
	justify-items: center;
	position: fixed;
	left: 0;
	z-index: 999;
	transition: .3s;
}

nav.navClass {
	background-color: rgba(30, 40, 100, 1);
	box-shadow: 0 0 20px rgba(255, 255, 255, .1);
}

nav .navlink {
	width: 300px;
	position: absolute;
	right: -1000px;
	background-color: rgba(30, 49, 77, 0.82);
	border: 2.5px solid rgba(6, 97, 136, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
	height: 65vh;
	justify-content: space-around;
	border-radius: .30em;
	transition: .6s;
}

/* akhir nav */

/* header */
header {
	display: grid;
	row-gap: 20px;
	justify-items: center;
	margin-top: 45px;
}

header .gambar {
	width: 45%;
}

header p {
	padding: 5px 20px 6px;
	border-radius: .30em;
	background-color: rgba(45, 50, 180, 1);
	position: relative;
}

header p::before {
	content: '';
	width: 25px;
	height: 5px;
	display: block;
	position: absolute;
	top: -3px;
	right: 0;
	animation-name: before;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background-color: red;
}

header p::after {
	content: '';
	width: 25px;
	height: 5px;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	background-color: red;
	animation-name: after;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes before {
	0% {
		right: 0;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		right: 87%;
		opacity: 0;
	}
}

@keyframes after {
	0% {
		left: 0;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		left: 90%;
		opacity: 0;
	}
}

/* akhir header */

/* about */
.about {
	row-gap: 35px;
	padding-right: 1em;
	padding-bottom: 1.3em;
}

.about .content {
	display: grid;
	grid-template-areas:
		'gambar info-device'
		'detail-device detail-device';
	align-items: center;
	row-gap: 30px;
	justify-items: center;
}

.about .content .gambar {
	grid-area: gambar;
}

.about .content .info-device {
	grid-area: info-device;
	font-size: .90rem;
}

.about .content .detail-device {
	display: grid;
	row-gap: 10px;
	justify-items: center;
	grid-area: detail-device;
}

/* akhir about */

/* aplikasi */
.aplikasi .contents {
	display: grid;
	row-gap: 30px;
	padding: 1em;
}

.aplikasi .contents .wrapper {
	display: grid;
	row-gap: 20px;
	padding: 1em;
	border-radius: .60em;
	background-color: rgba(6, 38, 81, 1);
	border: 3px solid hsla(214, 88%, 35%, 1);
}

.aplikasi .contents .wrapper .gambar {
	width: 65%;
	margin: 0 auto;
}

.aplikasi .contents .wrapper .info-aplikasi {
	display: grid;
	row-gap: 5px;
	justify-items: start;
	padding-top: 10px;
	border-top: 2px solid rgba(130, 130, 222, 1);
}

.aplikasi .contents .wrapper .detail-aplikasi {
	display: grid;
	row-gap: 10px;
	justify-items: center;
}

/* akhir aplikasi */

/* skills */
/* .skills {
 display: grid;
 grid-template-areas: 
   'leftText rightText'
   'contents contents';
 justify-items: center;
}

.skills h4 {
 grid-area: leftText;
}

.skills h5 {
 grid-area: rightText;
 border-bottom: 2px solid rgba(50, 65, 120, 1);
}

.skills .contents {
 display: grid;
 row-gap: 30px;
 justify-items: center;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 grid-area: contents;
}

.skills .contents .wrapper {
	width: 85%;
} */
/* akhir skills */

/* channels */

.channels .contents .wrapper {
	display: grid;
	padding: 1em 0;
	justify-items: center;
	align-items: center;
	row-gap: 10px;
	text-align: center;
	border-radius: .40em;
	background-color: rgba(28, 72, 128, 1);
}

.channels .contents {
	display: grid;
	row-gap: 40px;
	justify-items: center;
}

.channels .contents .wrapper .info-channel {
	display: grid;
	row-gap: 5px;
	justify-items: center;
}

.channels .contents .wrapper .wrapper-gambar {
	width: 35%;
	margin: auto;
}

/* akhir channel */



/* modal channel */
.modal-channel {
	display: none;
	height: 100vh;
	width: 100%;
	position: fixed;
	align-items: center;
	top: 0;
	right: 0;
	padding: 1em;
}

.modal-channel .wrapper {
	display: none;
	padding: 1.3em;
	justify-items: center;
	border-radius: 5px;
	background: linear-gradient(to top left,
			rgba(35, 24, 125, 1),
			rgba(35, 24, 65, .6));
	border: 3.5px solid rgba(17, 82, 195, 1);
}

.modal-channel .wrapper .detail-channel {
	display: grid;
	row-gap: 10px;
}

.modal-channel .wrapper .gambar {
	width: 45%;
	margin: 0 auto;
}

/* akhir modal channel */

/* side tools */
.side-tools {
	display: grid;
	align-content: center;
	row-gap: 20px;
	position: fixed;
	max-width: 5%;
	bottom: 1.5em;
	right: 1em;
	transition: .3s;
}

.side-tools:hover {
	padding: 1em;
	border-radius: 1em;
	background-color: rgba(10, 65, 92, .8);
	max-width: 15%;
}

.side-tools .english-subs {
	border-radius: 100%;
}

.side-tools .rocket {
	transition: .4s;
}

.side-tools .rocket:hover {
	transform: translateY(-20vh);
}
/* akhir side tools */

/* footer */
footer {
	width: 100%;
	padding: 12px 0;
	display: grid;
	justify-items: center;
	background-color: rgba(34, 33, 124, 1);
}
/* footer */
